.title {
	padding: 24px 0 30px 0;
	text-align: center;
	background-color: var(--grey-bg);

	@media (max-width: 768px) {
		padding: 15px 0 20px 0;
	}

	@media (max-width: 730px) {
		padding: 18px 0 20px 0;
	}
}

.contacts {
	padding: 62px 0 66px 0;
	display: flex;

	@media (max-width: 768px) {
		padding: 34px 0 50px 0;
	}

	@media (max-width: 730px) {
		padding-top: 30px;
	}

	.contacts-flex {
		display: flex;
		column-gap: 53px;

		@media (max-width: 950px) {
			column-gap: 73px;
		}

		@media (max-width: 730px) {
			flex-direction: column;
			gap: 50px;
		}

		.info {
			display: flex;
			flex-direction: column;
			width: 607px;

			@media (max-width: 1350px) {
				width: 50%;
			}

			@media (max-width: 950px) {
				width: 287px;
			}

			.info-number {
				color: var(--main-dark);
				font-family: "RoadRadio", sans-serif;
			}

			.info-mail {
				display: inline-block;
				color: var(--main-red);
				font-size: 25px;
				font-weight: 400;

				@media (max-width: 768px) {
					margin-top: 6px;
				}
			}

			.additional-info {
				font-size: 17px;
				margin-top: 19px;
				font-weight: 400;
				line-height: 116%;
				color: var(--main-dark);

				p {
					margin-top: 3px;

					@media (max-width: 768px) {
						margin-top: 0px;
					}

					@media (max-width: 730px) {
						line-height: 145%;
					}

					.desktop-break {
						@media (max-width: 768px) {
							display: none;
						}
					}
				}

				@media (max-width: 768px) {
					font-size: 14px;
					line-height: 140%;
				}
			}

			.info-text {
				margin-top: 20px;
				color: var(--secondary-text);
				font-size: 13px;
				line-height: 150%;

				.tablet-break {
					display: none;

					@media (max-width: 768px) {
						display: block;
					}
				}

				@media (max-width: 768px) {
					line-height: 157%;
				}

				&:last-child {
					margin-top: 25px;

					@media (max-width: 768px) {
						margin-top: 19px;
					}
				}

				address {
					font-size: 13px;
					font-weight: 400;
					line-height: 150%;
					font-style: normal;
				}
			}
		}
	}

	.contact-us {
		width: 630px;

		@media (max-width: 1350px) {
			width: 50%;
		}

		@media (max-width: 950px) {
			width: 350px;
		}

		@media (max-width: 730px) {
			width: 290px;
		}

		h2 {
			@media (max-width: 730px) {
				font-size: 20px;
				line-height: 110%;
			}
			label {
				font-family: "RoadRadio", sans-serif;
			}
		}

		.contact-info {
			display: flex;
			column-gap: 30px;

			@media (max-width: 950px) {
				flex-direction: column;
			}

			.input-wrap {
				flex: 1;
				position: relative;

				@media (max-width: 768px) {
					min-height: 60px;
				}

				.contacts-input {
					width: 100%;
					min-height: 52px;
					border: none;
					border-radius: 14px;
					background-color: var(--grey-bg);
					padding-left: 20px;
					margin-top: 20px;

					&.error {
						background-color: var(--main-red-opacity);
						border-color: var(--main-red-opacity);
					}

					&:focus {
						background-color: #fff;
						border: 2px solid var(--darker-grey);
					}

					&:focus + label,
					&:not(:placeholder-shown) + label {
						top: 20px;
						font-size: 12px;
					}
					&::placeholder {
						color: transparent;
					}

					@media (max-width: 768px) {
						min-height: 60px;
						margin-top: 12px;
						padding: 18px 20px;
					}
				}

				.name-label,
				.phone-label {
					position: absolute;
					left: 20px;
					top: 38px;
					transition: 0.2s;
					font-size: 16px;
					color: var(--secondary-text);

					@media (max-width: 768px) {
						top: 30px;
					}

					&.error-label {
						color: var(--main-red);
					}
				}
			}
		}

		.textarea-wrap {
			position: relative;

			label {
				position: absolute;
				left: 20px;
				top: 18px;
				transition: 0.2s;
				font-size: 16px;
				color: var(--secondary-text);
			}

			.text-area {
				display: block;
				margin-top: 28px;
				padding-top: 17px;
				resize: none;
				width: 100%;
				padding-left: 20px;
				background-color: var(--grey-bg);
				border: none;
				border-radius: 14px;

				@media (max-width: 768px) {
					margin-top: 12px;
					height: 166px;
				}

				&:focus {
					background-color: #fff;
					border: 2px solid var(--darker-grey);
				}

				&:focus + label,
				&:not(:placeholder-shown) + label {
					top: 0px;
					font-size: 12px;
				}
				&::placeholder {
					color: transparent;
				}
			}
		}

		.info-checkbox {
			display: flex;
			align-items: center;
			margin-top: 24px;
			column-gap: 16px;

			@media (max-width: 768px) {
				margin-top: 18px;
			}

			input {
				width: 20px;
				height: 20px;
				appearance: none;
				-webkit-appearance: none;
				background-color: var(--grey-bg);
				border: var(--grey-bg);
				cursor: pointer;
				border-radius: 4px;
				position: relative;

				&:hover {
					background-color: var(--main-red);
				}

				&:checked::after {
					content: "✔";
					color: white;
					position: absolute;
					top: 0;
					left: 3px;
					font-size: 16px;
					line-height: 20px;
				}
			}

			label {
				font-size: 13px;
				line-height: 120%;
				font-weight: 400;
				color: var(--secondary-text);

				@media (max-width: 1350px) {
					max-width: 313px;
				}

				@media (max-width: 730px) {
					max-width: 254px;
				}
				span {
					color: var(--main-dark);
				}
			}
		}

		.request-button {
			margin-top: 30px;

			@media (max-width: 730px) {
				margin-top: 21px;
			}
		}
	}
}
