.title {
	padding: 24px 0 30px 0;
	text-align: center;
	background-color: var(--grey-bg);
}

.contacts {
	padding: 62px 0 66px 0;
	display: flex;

	.contacts-flex {
		display: flex;
		column-gap: 53px;

		.info {
			display: flex;
			flex-direction: column;
			width: 607px;

			@media (max-width: 1350px) {
				width: 50%;
			}

			@media (max-width: 950px) {
				width: 287px;
			}

			.info-number {
				color: var(--main-dark);
			}

			.info-mail {
				color: var(--main-red);
				font-size: 25px;
				font-weight: 400;
			}

			.additional-info {
				font-size: 17px;
				margin-top: 15px;
				font-weight: 400;
				line-height: 110%;
				color: var(--main-dark);
				p {
					margin-top: 3px;
				}
			}

			.info-text {
				margin-top: 20px;
				color: var(--secondary-text);
				font-size: 13px;
				line-height: 150%;

				&:last-child {
					margin-top: 25px;
				}

				address {
					font-size: 13px;
					font-weight: 400;
					line-height: 150%;
					font-style: normal;
				}
			}
		}
	}

	.contact-us {
		width: 630px;

		@media (max-width: 1350px) {
			width: 50%;
		}

		@media (max-width: 950px) {
			width: 350px;
		}

		.contact-info {
			display: flex;
			column-gap: 30px;

			@media (max-width: 950px) {
				flex-direction: column;
			}
		}
		.name-input,
		.number-input,
		.text-area {
			flex: 1;
			min-height: 52px;
			border: none;
			border-radius: 14px;
			background-color: var(--grey-bg);
			padding-left: 20px;
			margin-top: 20px;
		}

		.text-area {
			display: block;
			padding-top: 17px;
			resize: none;
			width: 100%;
		}

		.info-checkbox {
			display: flex;
			align-items: center;
			margin-top: 20px;
			column-gap: 16px;

			input {
				width: 20px;
				height: 20px;
				appearance: none;
				-webkit-appearance: none;
				background-color: var(--grey-bg);
				border: var(--grey-bg);
				cursor: pointer;
				border-radius: 4px;
				position: relative;

				&:hover {
					background-color: var(--main-red);
				}

				&:checked::after {
					content: "✔";
					color: white;
					position: absolute;
					top: 0;
					left: 3px;
					font-size: 16px;
					line-height: 20px;
				}
			}

			label {
				font-size: 13px;
				line-height: 120%;
				font-weight: 400;
				color: var(--secondary-text);

				@media (max-width: 1350px) {
					max-width: 313px;
				}
				span {
					color: var(--main-dark);
				}
			}
		}

		.request-button {
			margin-top: 30px;
		}
	}
}
