.footer {
	position: relative;
	background: linear-gradient(to right, #222225 50%, #2a2a2e 50%);

	@media (max-width: 730px) {
		background: linear-gradient(to bottom, #222225 44%, #2a2a2e 56%);
	}
	.footer-container {
		padding: 59px 0 43px 0;

		@media (max-width: 768px) {
			padding: 31px 0 16px 0;
		}

		@media (max-width: 730px) {
			padding: 35px 0 16px 0;
		}

		.wrap {
			display: flex;
			@media (max-width: 730px) {
				flex-direction: column;
			}
			.footer-links {
				flex: 1;
				.inner-wrap {
					.product-links {
						display: flex;
						flex-direction: column;
						a {
							margin-top: 9px;
							color: #fff;

							@media (max-width: 768px) {
								line-height: 100%;
								margin-top: 14px;
							}

							@media (max-width: 730px) {
								margin-top: 12px;
								line-height: 108%;
							}

							&:hover {
								color: var(--main-red);
							}
						}
					}

					.links {
						display: flex;
						margin-top: 69px;
						flex-wrap: wrap;
						max-width: 80%;

						@media (max-width: 768px) {
							margin-top: 55px;
						}

						@media (max-width: 730px) {
							margin-top: 22px;
							max-width: 100%;
						}

						li {
							a {
								font-family: "Akzidenz-Grotesk Pro", sans-serif;
								margin-right: 19px;
								font-size: 16px;
								font-weight: 400;
								line-height: 180%;
								color: var(--secondary-text);

								@media (max-width: 768px) {
									margin-right: 16px;
								}

								@media (max-width: 730px) {
									margin-right: 18px;
								}

								a:hover {
									color: #fff;
								}
							}
						}
					}
				}
			}

			.footer-info {
				flex: 1;
				.contacts-wrap {
					padding-left: 124px;

					@media (max-width: 950px) {
						padding-left: 40px;
					}

					@media (max-width: 730px) {
						padding-left: 0px;
						margin-top: 69px;
					}

					.footer-contacts {
						display: flex;
						flex-direction: column;

						.numbers-wrap {
							display: flex;
							column-gap: 61px;

							@media (max-width: 1350px) {
								flex-direction: column;
								gap: 20px;
							}

							.numbers {
								display: inline-block;
								margin-top: 6px;

								@media (max-width: 768px) {
									margin-top: 9px;
								}

								@media (max-width: 730px) {
									margin-top: 12px;
								}

								h3 {
									&:nth-of-type(2) {
										.footer-number {
											display: inline-block;
											margin-top: 10px;

											@media (max-width: 768px) {
												margin-top: 0px;
											}
										}
									}

									a {
										color: #fff;
									}
								}
							}
						}

						.footer-mail {
							margin-top: 20px;
							color: var(--main-red);

							@media (max-width: 1350px) {
								font-size: 19px;
								line-height: 110%;
								font-family: "Akzidenz-Grotesk Pro", sans-serif;
							}

							@media (max-width: 768px) {
								margin-top: 15px;
							}
						}
					}

					.callback-button {
						background-color: transparent;
						border: 2px solid #494950;

						@media (max-width: 768px) {
							height: 45px;
						}

						&:hover {
							background-color: #fff;
							color: #333;
						}
					}
				}

				address {
					font-family: "Akzidenz-Grotesk Pro", sans-serif;
					margin-top: 95px;
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 130%;
					color: #fff;
					letter-spacing: -0.24px;

					@media (max-width: 768px) {
						margin-top: 33px;
					}

					@media (max-width: 730px) {
						margin-top: 41px;
					}
				}
			}
		}
	}

	.dev-info {
		padding: 23px 0 31px 0;

		@media (max-width: 730px) {
			padding-top: 46px;
		}

		.flex {
			display: flex;

			@media (max-width: 730px) {
				flex-direction: column;
			}

			.rights {
				flex: 1;
				font-family: "Akzidenz-Grotesk Pro", sans-serif;
				color: var(--secondary-text);
				font-size: 13px;
				line-height: 110%;
				font-weight: 400;
			}

			.add {
				flex: 1;
				font-size: 13px;
				line-height: 110%;
				font-weight: 400;
				color: var(--secondary-text);
				font-family: "Akzidenz-Grotesk Pro", sans-serif;

				@media (max-width: 730px) {
					margin-top: 10px;
				}

				a {
					padding-left: 126px;

					@media (max-width: 950px) {
						padding-left: 40px;
					}

					@media (max-width: 730px) {
						padding-left: 0px;
					}

					span {
						color: #fff;
						cursor: pointer;

						&:hover {
							color: var(--main-red);
						}
					}
				}
			}
		}
	}

	.line {
		position: absolute;
		bottom: 68px;
		height: 1px;
		width: 100%;
		background-color: var(--darker-grey-opacity);

		@media (max-width: 730px) {
			bottom: 89px;
		}
	}
}
