.footer {
	background: linear-gradient(to right, #222225 50%, #2a2a2e 50%);

	.flex-wrap {
		display: flex;
		justify-content: space-between;
		padding: 59px 0 43px 0;
		gap: 10%;

		@media (max-width: 768px) {
			padding: 43px 0 47px 0;
		}

		.footer-links {
			max-width: 40%;
			@media (max-width: 768px) {
				max-width: 45%;
			}
			.inner-wrap {
				.product-links {
					display: flex;
					flex-direction: column;
					a {
						margin-top: 9px;
						color: #fff;

						&:hover {
							color: var(--main-red);
						}
					}
				}

				.links {
					display: flex;
					margin-top: 69px;
					flex-wrap: wrap;
					max-width: 80%;

					@media (max-width: 768px) {
						margin-top: 46px;
					}

					li {
						margin-right: 10px;
						font-size: 16px;
						font-weight: 400;
						line-height: 180%;
						color: var(--secondary-text);
					}

					li:hover {
						color: #fff;
					}
				}
			}
		}

		.footer-info {
			.contacts-wrap {
				.footer-contacts {
					display: flex;
					flex-direction: column;

					h3 {
						&:nth-of-type(2) {
							.footer-number {
								margin-top: 15px;
							}
						}
					}

					.numbers-wrap {
						display: flex;
						column-gap: 61px;

						@media (max-width: 1350px) {
							flex-direction: column;
							gap: 20px;
						}

						.numbers {
							.footer-number {
								display: inline-block;
								color: #fff;
								margin-top: 4px;
							}
						}
					}

					.footer-mail {
						margin-top: 20px;
						color: var(--main-red);

						@media (max-width: 1350px) {
							font-size: 19px;
							line-height: 110%;
						}

						@media (max-width: 768px) {
							margin-top: 15px;
						}
					}
				}

				.callback-button {
					background-color: transparent;
					border: 2px solid #494950;

					&:hover {
						background-color: #fff;
						color: #333;
					}
				}
			}

			address {
				margin-top: 95px;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 130%;
				color: #fff;

				@media (max-width: 768px) {
					margin-top: 33px;
				}
			}
		}
	}

	.dev-info {
		border-top: 1px solid var(--darker-grey-opacity);
		padding: 21px 0 31px 0;

		.dev-info-wrap {
			display: flex;
			gap: 40%;

			@media (max-width: 1350px) {
				gap: 32%;
			}

			@media (max-width: 950px) {
				gap: 24%;
			}

			.rights {
				color: var(--secondary-text);
				font-size: 13px;
				line-height: 110%;
				font-weight: 400;
			}

			.add {
				font-size: 13px;
				line-height: 110%;
				font-weight: 400;
				color: var(--secondary-text);

				span {
					color: #fff;
					cursor: pointer;

					&:hover {
						color: var(--main-red);
					}
				}
			}
		}
	}
}
