.header {
	padding: 13px 0 15px 0;

	@media (max-width: 768px) {
		padding: 1px 0;
	}

	@media (max-width: 730px) {
		padding: 21px 0 23px 0;
	}

	.flex-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		.logo-wrap {
			position: absolute;
			left: 51%;
			transform: translateX(-50%);

			@media (max-width: 730px) {
				left: 50%;
			}

			.tablet-logo {
				display: none;

				@media (max-width: 950px) {
					display: block;
				}

				@media (max-width: 730px) {
					display: none;
				}
			}

			.logo {
				@media (max-width: 950px) {
					display: none;
				}

				@media (max-width: 730px) {
					display: block;
					max-width: 67px;
				}
			}
		}

		.left,
		.right {
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex: 1;
		}

		.left {
			max-width: 499px;

			@media (max-width: 1350px) {
				max-width: 268px;
			}

			@media (max-width: 730px) {
				justify-content: flex-start;
			}
		}

		.right {
			max-width: 492px;

			@media (max-width: 1350px) {
				max-width: 231px;
			}

			@media (max-width: 730px) {
				justify-content: flex-end;
			}
		}

		.menu-button {
			.line {
				border-radius: 2px;
				background-color: var(--main-dark);
			}

			.upper-line {
				width: 32px;
				height: 2px;

				@media (max-width: 950px) {
					width: 23px;
				}
			}

			.lower-line {
				margin-top: 8px;
				width: 17px;
				height: 2px;

				@media (max-width: 950px) {
					width: 12px;
				}

				@media (max-width: 730px) {
					margin-top: 6px;
				}
			}
		}

		.header-links-wrap {
			display: flex;
			column-gap: 46px;

			@media (max-width: 950px) {
				column-gap: 30px;
			}
		}

		.header-links {
			&:last-child {
				@media (max-width: 1350px) {
					display: none;
				}
			}

			@media (max-width: 730px) {
				display: none;
			}

			.header-link {
				color: var(--main-dark);
				font-size: 15px;
				font-weight: 400;

				@media (max-width: 768px) {
					font-size: 14px;
					line-height: 140%;
				}
			}
		}
	}

	.search {
		img:first-child {
			margin-right: 18px;
			@media (max-width: 768px) {
				width: 12px;
			}
		}

		img:last-child {
			@media (max-width: 768px) {
				width: 16px;
			}
		}
	}

	.header-contacts {
		padding: 13px 0;

		.number {
			display: block;
			font-size: 15px;
			font-weight: 500;
			color: var(--main-dark);
		}
		.mail {
			margin-top: 6px;
			font-size: 13px;
			font-weight: 400;
			line-height: 120%;
			color: var(--secondary-text);
		}

		@media (max-width: 730px) {
			display: none;
		}
	}

	.request-button {
		@media (max-width: 1350px) {
			display: none;
		}
	}
}

.navigation {
	padding: 21px 0 25px 0;
	background-color: var(--grey-bg);
	border-bottom: 1px solid var(--darker-grey);

	@media (max-width: 768px) {
		padding: 16px 0 17px 0;
	}

	@media (max-width: 730px) {
		padding: 18px 0 17px 0;
	}

	.nav-flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 131px;
		margin: 0 auto;

		a {
			font-size: 12px;
			font-weight: 400;
			color: var(--secondary-text);
		}

		a:hover {
			opacity: 50%;
		}
		.point {
			width: 2px;
			height: 2px;
			border-radius: 100%;
			background-color: var(--secondary-text);
		}
	}
}
