@import url("typography.css");
@import url("header.css");
@import url("contacts.css");
@import url("branches.css");
@import url("footer.css");
@import url("map.css");

:root {
	--main-red: #bf2738;
	--hover-red: #cc2a3c;
	--links-red: #f23147;
	--active-button: #991f2d;
	--main-dark: #262633;
	--secondary-text: #797986;
	--darker-grey: #eaeaea;
	--darker-grey-opacity: #eaeaea0d;
	--grey-bg: #f5f5f5;
}

@font-face {
	font-family: "RoadRadio";
	src: url("../fonts/RoadRadio.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Akzidenz-Grotesk Pro";
	src: url("../fonts/akzidenzgroteskpro_regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Golos text", sans-serif;
}

.container {
	max-width: 1290px;
	margin: 0 auto;

	@media (max-width: 1350px) {
		max-width: 900px;
	}

	@media (max-width: 950px) {
		max-width: 710px;
	}

	@media (max-width: 730px) {
		max-width: 290px;
	}
}

.button {
	width: 190px;
	height: 52px;
	font-size: 14px;
	color: #fff;
	font-family: "RoadRadio", sans-serif;
	border-radius: 14px;
	border: none;
	cursor: pointer;
	vertical-align: middle;
}

.request-button {
	background-color: var(--main-red);
	&:hover {
		background-color: var(--hover-red);
	}
	&:active {
		background-color: var(--active-button);
	}
	&:disabled {
		background-color: var(--darker-grey);
		color: var(--secondary-text);
		cursor: not-allowed;
	}
}
