#map {
	width: 100%;
	height: 599px;

	@media (max-width: 950px) {
		height: 480px;
	}

	@media (max-width: 730px) {
		height: 477px;
	}
}

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}
